{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-4">
    <h1>Add a new boat</h1>
    {{ include('boat/admin/_form.html.twig', {form: form, btnLabel: 'Save this new boat'}) }}
</div>
{% endblock %}
